name: Jest
on:
  workflow_call:
    inputs:
      extensionName:
        description: "Your extension name"
        required: true
        type: string
      shopwareVersion:
        description: |
          With the default `.auto`, the workflow tries to find a shopware version using the shopware-version action.

          For example, if the current ref is next-1234, it will try to find the ref next-1234 in shopware/shopware. If there's no matching ref, it will use shopwareVersionFallback
        required: false
        type: string
        default: ".auto"
      shopwareVersionFallback:
        required: false
        type: string
        default: trunk
      uploadCoverage:
        description: "Upload coverage to codecov"
        required: false
        type: boolean
        default: false
    secrets:
      codecovToken:
        description: "Codecov token"
        required: false

env:
  COMPOSER_ROOT_VERSION: 6.6.9999999-dev

jobs:
  run:
    name: Jest
    runs-on: ubuntu-latest
    steps:
      - name: Setup Extension
        uses: shopware/github-actions/setup-extension@main
        with:
          extensionName: ${{ github.event.repository.name }}
          install: true
          installAdmin: true
          env: prod
          extraRepositories: |
            {
              "${{ github.event.repository.name }}": {
                "type": "path",
                "url": "custom/plugins/${{ github.event.repository.name }}",
                "symlink": true
              }
            }

      - name: Jest Unit Tests
        working-directory: custom/plugins/${{ inputs.extensionName }}/src/Resources/app/administration
        run: npm run unit -- --coverage

      - name: Upload Coverage
        if: inputs.uploadCoverage == true
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.codecovToken }}
        with:
          root_dir: ${{ github.workspace }}/custom/plugins/${{ inputs.extensionName }}
          working-directory: ${{ github.workspace }}/custom/plugins/${{ inputs.extensionName }}
          directory: ${{ github.workspace }}/custom/plugins/${{ inputs.extensionName }}/src/Resources/app/administration
