name: Run PHP-CS-Fixer
on:
  workflow_call:
    inputs:
      rules:
        type: string
        required: false
        default: "@PER-CS2.0,no_unused_imports"
        description: Default rules to check with php-cs-fixer

jobs:
  run:
    name: Check Style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: php-cs-fixer:3.63.2, cs2pr

      - name: Run PHP CS Fixer
        run: |
          if [[ -n "${{ inputs.rules }}" ]]; then
            export RULES="--rules=${{ inputs.rules }}"
          fi
          php-cs-fixer fix . --dry-run ${RULES} --format=checkstyle | cs2pr
