name: E2E Tests
on:
  workflow_call:
    inputs:
      extensionName:
        description: "Your extension name"
        required: true
        type: string
      e2ePath:
        description: "Path to your e2e tests"
        required: true
        type: string
      e2eTestFramework:
        description: "Choose the test framework to run (playwright or cypress)"
        required: true
        type: string
        default: "cypress"
      shopwareVersion:
        description: |
          With the default `.auto`, the workflow tries to find a shopware version using the shopware-version action.

          For example, if the current ref is next-1234, it will try to find the ref next-1234 in shopware/shopware. If there's no matching ref, it will use shopwareVersionFallback
        required: false
        type: string
        default: ".auto"
      shopwareVersionFallback:
        required: false
        type: string
        default: trunk
      phpVersion:
        required: false
        type: string
        default: "8.2"
      mysqlVersion:
        required: false
        type: string
        default: "builtin"
      composerRootVersion:
        required: false
        type: string
        default: ".auto"
      dependencies:
        required: false
        type: string
    secrets:
      env:
        description: "ENV variables to substitute in to plugin repository urls"
        required: false

jobs:
  run:
    name: Tests
    runs-on: ubuntu-latest
    env:
      SHOPWARE_ACCESS_KEY_ID: ${{ secrets.SHOPWARE_ACCESS_KEY_ID }}
      SHOPWARE_SECRET_ACCESS_KEY: ${{ secrets.SHOPWARE_SECRET_ACCESS_KEY }}
    steps:
      - uses: shopware/github-actions/shopware-version@main
        with:
          fallback: ${{ inputs.shopwareVersionFallback }}
        id: version
        if: ${{ inputs.shopwareVersion == '.auto' }}
      - name: Setup Shopware
        uses: shopware/setup-shopware@v2
        with:
          shopware-version: ${{ steps.version.outputs.shopware-version || inputs.shopwareVersion }}
          php-version: ${{ inputs.phpVersion }}
          mysql-version: ${{ inputs.mysqlVersion }}
          composer-root-version: ${{ inputs.composerRootVersion }}
          install: true
          env: e2e
          install-storefront: true
          install-admin: true
      - name: Clone Extension
        uses: actions/checkout@v4
        with:
          path: custom/plugins/${{ inputs.extensionName }}
      - name: Clone Dependencies
        if: inputs.dependencies
        env:
          DEPS: ${{ inputs.dependencies }}
        run: |
          IFS=$'\n'
          for token in $(echo "${{secrets.env}}"); do
            export $token
          done
          for dep in $(echo "$DEPS" | envsubst | jq -c '.[]'); do
            dep_name=$(echo "$dep" | jq -r '.name')
            dep_repo=$(echo "$dep" | jq -r '.repo')
            git clone "$dep_repo" "custom/plugins/$dep_name"
          done
      - name: Install extension with Composer
        run: |
          composer require $(composer -d custom/plugins/${{ inputs.extensionName }} config name)
          ./bin/console plugin:refresh
          ./bin/console plugin:install ${{ inputs.extensionName }} --activate --clearCache
      - name: Run E2E test
        working-directory: custom/plugins/${{ inputs.extensionName }}/${{ inputs.e2ePath }}
        run: |
          npm install
          if [ "${{ inputs.e2eTestFramework }}" == "playwright" ]; then
            npx playwright install
            npx playwright install-deps
            npx playwright test
          elif [ "${{ inputs.e2eTestFramework }}" == "cypress" ]; then
            CYPRESS_baseUrl=http://localhost:8000 node_modules/.bin/cypress run --browser chrome
          else
            echo "Invalid test framework specified. Please choose either 'cypress' or 'playwright'."
            exit 1
          fi